.logo{
    padding:1rem;
    border-radius: 1rem;
}

.joinClass{
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    font-family: 'Roboto';
}
.ChowktiClass{
    font-size: 27px;
    line-height: 20px;
    font-weight: 700;
    font-family: 'Roboto'; 
}