.pdfImage{
    width: 30px;
    height: 30px;
}
.attachedFileName{
    font-size: 14px;
}
.fileItemDiv{
    line-height: 16px;
}
.fileCard{
    flex-direction: initial;
    padding: 5px;
}