.otherLoginBtns{
    border:1px solid #E5E5E5;
    background-color: #ffffff;
    font-family: Roboto;
    box-shadow: -1px -1px 4px rgb(0 0 0 / 7%), 1px 1px 4px rgb(0 0 0 / 7%);
    border-radius: 8px;
    
}